

{% extends './base.html' %}
{% block content %}

<h1>Create Vehicle</h1>

<div class="center-column">
    <form method="POST" action="/create_vehicle">
        {% csrf_token %}
        {{form}}
        <br>
        <input class="btn btn-info" type="submit" name="Add New Owner">
    </form>
</div>

<style>
    .center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}
</style>



{% endblock %}